.popup__cross-button {
    position: relative;
    margin: 0;
    bottom: 8px;
    left: 239px;
    width: 32px;
    height: 32px;
    background-image: url("../../../images/cross_button.svg");
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
}

@media screen and (max-width: 1024px) {
    .popup__cross-button {
        bottom: 8px;
        width: 20px;
        left: 131px;
        height: 20px;
        background-size: 20px 20px;
    }
}