.profile__info {
    margin: 0;
    max-width: calc(880px - 120px - 30px - 30px - 150px);
    color: #ffffff;
}

@media screen and (max-width: 1024px) {
    .profile__info {
        margin: 22px 19px 0 19px;
    }
}