.profile__info {
    margin: 0 0 0 30px;
    color: #ffffff;
    flex-direction: column;
    justify-content: space-evenly;
}

@media screen and (max-width: 1024px) {
    .profile__info {
        margin-top: 22px;
        align-items: center;
        text-align: center;
    }
}